// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our custom colors:
$sweet-red: #ff3333;
$lt-coral: #E86A58;
$coral-pink:#e85864;
$indian-red: #DA5552;
$candy-pink: #DF7373;
$soft-pink: #FF96A6;
$lt-pink: #FFC0C9;
$bby-pink: #f5cac3;
$sage: #84a59d;
$bg-beige: #fbf6f4;
$bg-ivory: #f7ede2;
$not-black: #0f1a26;
$lt-mustard: #FED35B;
$md-mustard: #f6bd60;
$lt-aqua: #A0D0CC;
$soft-green: #1BB28C;
$green-grey: #4A5559;
