.dash-wrap{

}

.dash-u-sidebar{
  // border: 1px solid lightsalmon;
  background-color: white;
  box-shadow: 0 0 10px #ffffff;
  min-height: 75vh;
  padding: 20px;
}

.dash-user-info{
  text-align: center;
  color: $green-grey;
  flex-direction:column;
}

.dash-u-main{
  // border: 1px solid lightseagreen;
  min-height: 75vh;
}

.main-fav, .main-guest {
  // border: 1px solid lightsalmon;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px #ffffff;
  height: 100%;
}

.fav-vendor-wrap {
  padding: 10px 0;
  h3, h4, h5, p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  #fav-v-name{
    color: $not-black
    :hover {
      color: $green-grey
    }
  }
}

