.fav-names{
  h3,h4{
  color: black;
  padding-bottom: none;
  }
  a{
    text-decoration: none;
    :hover{
      color: $indian-red;
    }
  }
}

.fav-v-table {
  // text-align: center;
  h3,h4{
  color: black;
  padding-bottom: none;
  }
  a{
    text-decoration: none;
    :hover{
      color: $indian-red;
    }
  }
}