<div class="content-wrap text-center mt-3" data-controller="search">

<div class="row">
<%# Side bar for category search %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
    <div class="vendor-search-categories">
      <h4>Search by category</h4>
      <hr>
      <ul>
          <li class="catlist" data-action="click->search#findcategory"><p>All</p></li>
        <% @categories.each do |category| %>
          <li class="catlist" id=<%=category%> data-action="click->search#findcategory"><p><%=category%><p></li>
        <% end %>
      </ul>
    </div>
  </div>

<%# right side column for search bar and search results %>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">

<%# search bar %>
<div class="row">
  <div class="vendor-search">
    <div class="search search-form-control form-group form-inline">
      <input class="string required search__input"
                    type="text"
                    data-action="keydown->search#greetWithKeyboard"
                    id="search_query" />
      <button class="search-btn2" data-action="click->search#refresh">Search
        <%# <i class="fas fa-search"></i> Search %>
      </button>
    </div>
  </div>
</div>

<%# Search results display div %>
<div >
  <div class="row" data-target="search.result" id="search_div">
  <!--SERACH CONTROLLER FOR JS displays result cards here-->
  </div>
</div>
</div>

<%# closers for top two divs of page %>
</div>    
</div>
