<%= render 'shared/dash-user-sidebar' %>

<div class="dash-main">
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>

</div>
