<footer>
<div class="d-flex justify-content-around">
  <%= link_to "/" do %>
  <div class="avatar-white">
  
    <%= image_tag "ringlogo1.png", class:"footerlogo" %>
  
  </div>
  <% end %>
</div>
</footer>