<div class="search__container">
  <%= simple_form_for :search, url: user_vendors_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
          params[:query],
          class: "search__input",
          placeholder: "Find a vendor"
        %>
        <%= f.button :submit, 'Submit', class: "search-btn", wrapper: :inline_form, html: { class: 'form-inline' }%>
    </div>
  <% end %>
</div>