<div class="body-wrap">
<div class="container">
    <div class="header-banner">
      <h1>Plan your wedding</h1>
      <p>Let us do the rest for your happily ever after</p>
      <div class="search__container">
        <p class="search__title">
            What would you like to search?
        </p>
        <input class="search__input" type="text" placeholder="Search">
    </div>
    </div>
</div>
</div>