<div class="body-wrap">
<div class="container">
    <div class="header-banner">
      <h1>Plan your wedding</h1>
      <p>
      Find everything you need to plan your special day.
      <br>
      Waiting for you, all in one place.
      </p>

      <div class="search__container">
        <h5 class="search__title">
            What would you like to search?
        </h5>
        <input class="search__input" type="text" placeholder="Search">
    </div>
    </div>
</div>
</div>