<div class="body-wrap">
	<div class="container">
		<div class="header-banner">
			<h1>Plan your wedding</h1>
			<p>
			Find everything you need to plan your special day
			<br>
			Waiting for you, all in one place.
			</p>

			<%= render 'shared/searchbar' %>
			
		</div>
	</div>
</div>