.header-banner {
 padding: 15% 0;
 padding-left: 50px;
 margin: 0 auto;
 width: 55%;
 
 h1 {
   font-weight: 700;
   font-size: 90px;
   color: #ffffff;
   text-shadow: 0px 0px 8px rgba(255, 110, 110, 0.219);
 }

 p{
   font-size: 24px;
   color:white;
 }
}