footer {
  text-align: center;
  color: white;
  padding: 15px;
  background-color: $indian-red;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  p{
    margin: 0;
  }
}

.footerlogo{
  height: 40px;
}