.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 10px 0px #ffd1d1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
