// .nav-wrap{
//   width: 90%;
//   margin: 0 auto;
// }
.navbar-lewagon {
  justify-content: space-between;
  background: #fcfcfc;
  box-shadow: 0 0 10px 0px #ffd1d1;
    h4{
    margin: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#homenav {
  background-color: #ffffff81;
  box-shadow: 0 0 20px 0px #ffffff81;
  color: white;
  width: 100%;
  h4{
    margin: 0;
  }
}

.navbtn{
  :hover{
    background-color: rgba(255, 59, 59, 0.61);
    cursor: pointer;
    &:hover, &:focus{
    padding: 8px;
    // background-color: #e4314f;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    border-radius: 50px;
    color: white;
  }
  }
}
