.home-search {
  padding-top: 40px;
}

.vendor-search{
  margin-left: 18px;
  width: 100%;
}

.vendor-search-categories{
  margin: 0 20px;
  padding-top: 14px;
  position: sticky;
  top: 78px;
  text-align: center;
  background-color: white;
  h3, h4, h5, p, {
    font-family: $body-font;
  }

  p{
    font-size: 18px;
  }

  ul{
    padding: 0;
  }
}

.catlist {
  padding: 10px 0;
  list-style: none;
  margin: 0;
}

.search {
  &__title {
    font-size: 30px;
    color: white;
  }
  
  &__input {
    width: 80%;
    padding: 12px 24px;
    background-color: #ffffffad;
    transition: transform 250ms ease-in-out;
    font-size: 24px;
    line-height: 24px;
    color: #575756;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
        padding: 12px 20px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 98% center;
    }
  }
}

.search-btn {
  color: #e4314f;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  border: none;
  background-color: none;
  &:hover, &:focus{
    background-color: #e4314f;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    border-radius: 50px;
    color: white;
  }
}

.search-btn2 {
  color: #e4314f;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  border: none;
  background-color: rgba(255, 166, 0, 0);
  &:hover, &:focus{
    background-color: #e4314f;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    border-radius: 50px;
    color: white;
  }
}
