.home-search {
  padding-top: 40px;
}

.search {
  &__title {
    font-size: 30px;
    color: white;
  }
  
  &__input {
    width: 80%;
    padding: 12px 24px;
    background-color: #ffffffad;
    transition: transform 250ms ease-in-out;
    font-size: 24px;
    line-height: 24px;
    color: #575756;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
        padding: 12px 20px;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 98% center;
    }
  }
}

